<main class="bg-info text-white">
  <h1 >Projeto frontend Departamentos</h1>
</main>
<div class="container">
  <div class="grid">
    <div class="col-12">
      <h2>Departamentos</h2>
    </div>
    <div class="col-12 p-fluid">
      <label>Nome</label>
      <input type="text" placeholder="Nome do departamento" pInputText />
    </div>

    <div class="col-12">
      <button
        type="submit"
        label="Buscar"
        class="btn btn-primary"
        style="height: 50px; width: 100px"
        pButton
      ></button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-table
        [value]="departamentos"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Exibindo de {first} a {last} do total de {totalRecords} departamentos"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="col-id">Id</th>
            <th>Nome do Departamento</th>
            <th class="col-actions"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-dep>
          <tr>
            <td class="col-id">{{ dep.id }}</td>
            <td
              [ngStyle]="{
                color: dep.nomeDepartamento == 'TI' ? 'green' : '#495057'
              }"
            >
              {{ dep.nomeDepartamento }}
            </td>
            <td class="col-actions">
              <a
                pButton
                icon="pi pi-pencil"
                pTooltip="Editar"
                tooltipPosition="left"
                class="btn-warning"
                style="margin-right: 10px"
              ></a>
              <button
                pButton
                icon="pi pi-trash"
                pTooltip="Remover"
                tooltipPosition="right"
                class="btn-danger rounded"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="col-12">
    <a
      pButton
      label="Novo Departamento"
      class="btn btn-success text text-white"
    ></a>
  </div>
</div>



