h2 {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

label {
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

h5 {
  color: var(--bs-gray);
}

button {
  margin-left: 0;
  height: 50px;
  width: auto;
  margin-top: 20px;
  border: 0;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid var(--bs-red);
}
