<nav class="navbar bg-primary text-white">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <a herf="javascript:;" class="navbar-menu" (click)="showOptionsMenu = !showOptionsMenu">
          <i class="pi pi-bars"></i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-options bg-warning bg-gradient" [hidden]="!showOptionsMenu">
    <li class="navbar-user">Usuário</li>
    <li><a href="#">Funcionários</a></li>
    <li><a href="#">Departamentos</a></li>
    <li><a href="#">Atividades</a></li>
    <li><a href="#">Fornecedores</a></li>
    <li><a href="#">Horas Trabalhadas</a></li>
  </ul>
</nav>
